* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", sans-serif;
  background: url(/public/img/mix.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  text-shadow: 1px 1px 3px black;
}
.container {
  padding: 50px;
  background-color: rgba(36, 35, 46, 0.317);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgb(0, 4, 53);
}
input {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  font-size: 1.2rem;
  color: rgb(8, 8, 64);
  box-shadow: inset 0 0 5px rgb(8, 8, 64);
}
h1,
h3 {
  margin: 10px auto;
  text-align: center;
  font-size: 2rem;
  -webkit-text-stroke: 2px rgb(50, 6, 7);
}
h1 {
  letter-spacing: 10px;
}
.money {
  width: 100%;
  padding: 10px;
  border-radius: 10%;
  margin: 10px auto;
  background-color: rgb(213, 44, 47);
  box-shadow: inset 2px 2px 15px rgb(0, 0, 0);
}
.eur {
  background-color: rgb(41, 86, 169);
}
.cny {
  background-color: rgb(31, 160, 87);
}
